In [1]:
a=1
print(a)

1

In [2]:
a=1,2,3,4,5
print(a)
print()
print(type(a))

(1, 2, 3, 4, 5)

<class 'tuple'>

In [4]:
a=[10]
print(a)
print()
print(type(a))

[10]

<class 'list'>

In [6]:
a=[10, 12.2, 'Anil']
print(a)

[10, 12.2, 'Anil']

##

In [9]:
a=[10, 12.2, 'Anil']
print(a)
print("Caliing the value 10 = ",a[0])
print()
print("calling the value  12.2 = ",a[1])
print()
print("Calling the value some string = ",a[2])

[10, 12.2, 'Anil']
Caliing the value 10 =  10

calling the value  12.2 =  12.2

Calling the value some string =  Anil

In [11]:
a=[4,9,6,2]
print(a[0])
print()
print(a[3])

4

2

In [13]:
a=[10, 12.2, 'Anil']
print("The value of strr in forward direction = ",a[2])
print()
print("The value of str in backward direction = ",a[-1])

The value of strr in forward direction =  Anil

The value of str in backward direction =  Anil

In [14]:
a=10,20,30,40,50,60,70,80,90
print(a)

(10, 20, 30, 40, 50, 60, 70, 80, 90)

In [17]:
a=[10,20,30,40,50,60,70,80,90]
print("The value of a is = ",a)

The value of a is =  [10, 20, 30, 40, 50, 60, 70, 80, 90]

In [18]:
print('Travelling from 10 to 50 and the logic was = ',a[0:5])

Travelling from 10 to 50 and the logic was =  [10, 20, 30, 40, 50]

In [19]:
print('travelling from 40 to 80 and logic was = ',a[3:9])

travelling from 40 to 80 and logic was =  [40, 50, 60, 70, 80, 90]

In [22]:
print('Travelling from 40 to 80 = ',a[-6:-1])

Travelling from 40 to 80 =  [40, 50, 60, 70, 80]

In [23]:
print('Travelling from 40 to 80 = ',a  [-6:-1])

Travelling from 40 to 80 =  [40, 50, 60, 70, 80]